html{
    box-sizing: border-box;
    font-family: "Karla";
    font-size: 16px;
}
ul{
    padding: 0;
    list-style: none;
    font-size: 0.8rem;
    opacity: 0.8;
}
h2, h4, p{
    margin: 0;
}
#top-section h2{
    color: #2ebfbd;
    margin-bottom: 20px;
}
#top-section p{
    color: #98a6bd;
}

#top-section h4{
    color: #c0df34;
    margin-bottom: 10px;
}
*, *:before, *:after{
    box-sizing: inherit;
}
#card {
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items: center;
}
#top-section{
    width: 100%;
    height: 45%;
    padding: 25px;
    
}

/* bottom section */
#bottom-section{
    width: 100%;
    height: 55%;
    color: white;
}
#bottom-left-section{
    background-color: #2ab2af;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 25px;
}
#bottom-right-section{
    background-color: #2ebfbd;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 25px;
}
button{
    color: white;
    background-color: #c0df34;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
button:hover{
    cursor: pointer;
    background-color: #a9ca2d;
    transform: scale(1.02);
}
#price{
    font-weight: 700;
   font-size: 1.4rem;
   margin-bottom: 15px;
}
#bottom-left-section h4{
    margin-bottom: 25px;
}
#per-month, #price{
    display: inline-block;
}
#per-month{
    position: relative;
    top: -3px;
    font-size: 0.8rem;
    opacity: 0.7;
    margin-left: 5px;
}

#bottom-left-section p{
    font-size: 0.8rem;
    margin-bottom: 15px;

}

@media (min-width: 576px) {
    #card{
        width: 550px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
}
    #bottom-left-section, #bottom-right-section{
        width: 50%;
    } 
}
